<p id="notice"><%= notice %></p>

<h2>YÖNETİCİ PANELİ</h2>
<%= link_to 'ANKETLER', polls_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"%>
<%= link_to 'RAPORLAR', records_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"%>
<%= link_to 'YÖNETİCİLER', admin_users_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"%>
