<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <hgroup>
  <h1>Anket Giriş Form</h1>
</hgroup>
<form>
<p>Passcod Giriniz</p>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>

  </div>
  <button type="button" class="button buttonBlue">Giriş
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer>
  <p>Yönetici Panel</p>
</footer>
  </body>
</html>
