
 <div class="nested-fields">
	 <div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
	 	 <%= f.input :question_header, input_html: { class: "mdl-textfield__input"},
	 	 label_html:{class: "mdl-textfield__label"} %>
	 </div>
 	</br>
 	<%= link_to_remove_association "- Bu soruyu sil", f %>
</div>
