#view-source {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}

	.adminpanel {
  background-color: #b3d4fc !important;

     }
     .adminbtn {
  background: #3F51B5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border-bottom: solid #283593 2px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.adminbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.answer_img{

  border-radius: 10px;
  border:5px solid #64DD17;
}
.answer{
  border-radius: 15px;
  background: #F4511E;  
  border:5px solid #64DD17;
}
.answer .mdl-button{
  background: #E0E0E0 !important;
  margin:2px;

}