.answer_image {
  height: 70% !important;

}
#view-source {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}

.adminpanel {
	background-color: #b3d4fc !important;
}
.adminbtn {
	background: #3F51B5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	border-bottom: solid #283593 2px;
	font-family: Courier New;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.adminbtn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.answer_img{

	border-radius: 10px;
	border:5px solid #64DD17;
}
.answer{
	border-radius: 15px;
	background: #3f51b5;
	border:5px solid #64DD17;
}
.answer .mdl-button{
	background: #E0E0E0 !important;
	margin:2px;

}
.demo-card-square.mdl-card {
	width: 320px;
	height: 320px;
}

.demo-card-square > .mdl-card__title {
	color: #fff;
	padding:0px !important;

}

.mdl-button{
	position: absolute;
	z-index: 5 !important;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: inline-block;

    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.clickedAnswer{
	background-color: #64B5F6 !important;
}


.survey_answer_image{
  height: 88% !important;
  margin: 0 !important;
  padding-bottom:5px;
}

.reports_answer_image{
  height: 70% !important;
  margin: 0 !important;
}

.navigationLink {
	color: white !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nested-fields {
  background-color: #BBDEFB;
  border: 1px solid #BBDEFB;
  border-radius: 10px;
  margin-bottom: 15px;
}

.nested-fields-links {
  color: black;
  font-weight: bold;
}

.alerts {
  background-color: #E91E63;
  border: 1px solid #E91E63;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

