<% if Poll.all.length != 0 %>
<table class="mdl-data-table mdl-js-data-table">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">Cevaplanmış Anketler</th>
		</tr>
	</thead>
	<tbody>
	<div class="digg_pagination">
		<%= will_paginate @polls %>
			</br>
		<% @polls.each do |poll| %>
		<%if doespollhaverecords(poll.id)==true %>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">
						<%=link_to poll.poll_name,report_path(poll.id)%>
				</td>
			</tr>
			<%end%>
		<% end %>
	</div>

	</tbody>
</table>
<% else %>
	<p>
		Sistemde anket bulunmuyor !
	</p>
<% end %>
