<p>Cevaplanmış Anketler</p>

<%Poll.all.each do |r| %>
	<%if doespollhaverecords(r.id)==true %>
			<%=link_to r.poll_name,report_path(r.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"%>
	<%end%>
<%end%>
